*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


table{
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 15px;

    overflow: hidden;

    --dark-blue: #061539;
    --dark-gray:#DBDBDB;
    --gray: #ECECEC;
    --light-gray: #fcfcfc;
}


thead>tr>:nth-of-type(n){
    background-color: var(--dark-blue);
    color:white;
    padding: 0 2em;
}


th>:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
    margin-top: 0.8em;
}


th>:last-child{
    margin: 0.7em 0 ;
}


th>:first-child{
    margin: 1em 0;
}


tbody>tr>td:nth-child(n){
    padding: 1em;
}


tbody>tr:nth-child(odd) > td:nth-child(odd) {
    background-color: var(--dark-gray);
}


tbody>tr:nth-child(odd)>td:nth-child(even) {
    background-color: var(--gray);
}


tbody>tr:nth-child(even) {
    background-color: var(--gray);
}


tbody>tr:nth-child(even)>td:nth-child(even) {
    background-color: var(--light-gray);
}

tfoot tr>:nth-child(odd){
    background: var(--dark-gray);
}

tfoot tr>:nth-child(even){
    background: var(--gray);
}


tfoot button:nth-child(n){
    width: 130px;
    height: 55px;
    margin: 0.7em;

    font-size: 20px;
    text-transform: uppercase;
    color: #61646b;
    font-weight: bold;

    background-color: #d3d3d3;
    border: 2px solid #b9b9b9;
}